<h1>welcome </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, inventore. Ipsum et veritatis accusantium asperiores
    totam provident est consequuntur molestiae. version 1.0.0</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"> <i class="fa fa-google-plus-circle" aria-hidden="true"></i> Login with
    google</a>

{{/if}}