<h1>welcome </h1>

<p>Write Your Own Stories And Store it Public or private... write your day</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"> <i class="fa fa-google-plus-circle" aria-hidden="true"></i> Login with
    google</a>

{{/if}}
